<% if user_signed_in? %>
	<div class="hero-unit">
	<h1>Welcome member</h1>
	<p class="lead">This is the subline for the value prop</p>

<% else %>

		<div class="hero-unit">
		<h1>Welcome to my test App!</h1>
		<p class="lead">This is the subline for the value prop</p>

		<p><input type="email" placeholder="Enter email">
		<br/>
		<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</p>

		<p>
			here is some sweet content 

			<%= link_to "taylorballenger", "http://www.taylorballenger.com" %>	
		</p>
		</div>

<% end %>