<h1>Welcome to my test App!</h1>
<p>
	here is some sweet content 

	<%= link_to "taylorballenger", "http://www.taylorballenger.com" %>	
</p>

<p>
	<%= link_to "Sign up now!", "#" %>
</p>

<div class = "span3">
<input type="email" placeholder="Enter email">
</div>

<h3>I LEFT OFF AT 8.51 from https://onemonthrails.com/lectures/adding-bootstrap</h3>