<div class="hero-unit">
<h1>Welcome to my test App!</h1>
<p class="lead">This is the subline for the value prop</p>

<p><input type="email" placeholder="Enter email">
<br/>
<%= link_to "Sign up now", '#', class: "btn btn-large btn-primary" %>
</p>

<p>
	here is some sweet content 

	<%= link_to "taylorballenger", "http://www.taylorballenger.com" %>	
</p>
</div>

<div class="row">
	<div class="span4"></div>
	<div class="span8"></div>
</div>


<div class = "span3">
</div>
